@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #505452;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}




html, body {
  height: 100%;
  font-family: "Spectral" ;
 
}

body {
  margin: 0;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("images/360_F_89363158_wOpEuDBHyqX9vrSB0TdPGNuuO116hagT.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
}






html, body {
  height: 100%;
  margin: 0;
}

.hero {
  font-family: "Oswald" , "sans-serif";
  height: 100vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("images/360_F_89363158_wOpEuDBHyqX9vrSB0TdPGNuuO116hagT.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 4.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #dcdcdc;
}
